################################
# Build outputs (STM32 / GCC)
################################
**/Debug/
**/Release/
**/*.o
**/*.d
**/*.elf
**/*.map
**/*.lst
**/*.su

################################
# STM32CubeIDE / Eclipse
################################
**/.metadata/
**/.mxproject
**/.settings/org.eclipse.*

################################
# MATLAB
################################
**/slprj/
**/*.asv
**/*.slxc
**/*~
**/*.slx.original
